/* font input */
@font-face {
    font-family: 'palm_canyon_drivetrial';
    src: url('palmcanyondrive-trial-webfont.woff2') format('woff2'),
         url('palmcanyondrive-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    /* color vars */
    --green-sky: #A1DBB2;
    --creme: #FEE5AD;
    --crystal-tangerine: #FACA66;
    --bounty-hunter: #F7A541;
    --blushed-anger: #F45D4C;

}

.callout {
    font-face: 'palm_canyon_drivetrial';
    color: var(--blushed-anger)
}