/* font input */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Fjalla-One&display=swap');

:root {
    /* color vars */
    --button-color: # ;
    --text-color: #ffffff;
    --bg-color: #000000FF;

}

html, body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Libre Baskerville', sans-serif;
}

h1, h2, h3 {
    font-family: 'Fjalla One', sans-serif;
}

/* gets rid of padding and margin by base, reseting browser default */
* {
    padding: 0;
    margin: 0;
}

/* list styles */
ul {
    list-style-type: none;
}

ul > li {
    display: inline;
}

/* link styles */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration-line: underline;
}

/* styles to create navbar, main section, and footer */
.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.5rem;
    position: fixed;
    right: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
