body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    overflow: auto;
}

.nav {
    position: fixed;
    top: 0;
    justify-content: space-evenly;
    width: 100vw;
}

.header {
}

.main-content {
    display: flex;
    flex-direction: row;
    width: 90vw;
    min-height: 25vh;
    max-height:60vh;

}

.secondary-content {
}

.footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    text-align: center;
}