* {
    margin: 0;
    padding: 0;
}

#callout {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#lead {
    background-color: var(--text-color);
    color: var(--bg-color);
    height: 100vh;
    width: 50vw;
    
}   

#learn {
    background-color: (--bg-color);
    color: var(--text-color);
    height: 100vh;
    width: 50vw;
    
}

#leadership {

}

#learning {
    
}