* {
    margin: 0;
    padding: 0;
}

#callout {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#lead::before {
    color: black;
    background-color: white;
    height: 100vh;
    width: 50vw;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}   

#learn::before {
    color: white;
    background-color: black;
    height: 100vh;
    width: 50vw;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

#leadership {

}

#learning {
    
}